@{
    ViewData["Title"] = "Home Page";
}
@model string

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It is a tutorial project for C# and Python together with a complete CD/CI</p>
</div>
@Model
